@import '../../style/variables.scss';

.location-list {
  display: flex;
  padding: $content-padding;
  justify-content: space-between;
}

.location-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 136px;
  height: 36px;
  padding: 0 16px;
  background-color: $white;
  border: 1px solid $primary;
  border-radius: 8px;

  font-weight: 500;
  color: $primary;
}

.location-add-btn {
  background-color: $white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.location-selected-item {
  color: $white;
  background-color: $primary;
}
