@import '../../style/variables.scss';

// css선택자 우선순위 위해서 아래처럼 작성
.page > .chat-page-topbar {
  background-color: $white;
  border-bottom: 1px solid $gray3;
}

.chatting-delete-modal {
  // align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
}
