@import './variables.scss';
//TODO 배경색 때문에 topbar가 잘 안보여서 바꾸면 좋을듯!
html {
  background-color: $black;
}

html,
body {
  height: 100%;
  margin: 0;
}

body {
  display: flex;
}

* {
  box-sizing: border-box;
}

#root {
  position: relative;
  margin: auto;
  width: $content-width;
  height: $content-height;
  overflow-x: hidden;
  overflow-y: hidden;
  background-color: white;

  border-radius: 0.25rem;
}

.page-container {
  width: $content-width;
  height: $content-height;
}

.page-wrapper {
  width: $content-width;
  height: $content-height;
  overflow-x: hidden;
  overflow-y: auto;

  &::-webkit-scrollbar {
    display: none;
  }
}

.page {
  width: $content-width;
}
