@import './variables.scss';
//TODO 배경색 때문에 topbar가 잘 안보여서 바꾸면 좋을듯!
html {
  background-color: $light-blue;
}

* {
  box-sizing: border-box;
}

#root {
  position: relative;
  margin: auto;
  width: $content-width;
  height: $content-height;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: white;
  margin-top: 200px;

  &::-webkit-scrollbar {
    display: none;
  }
}

.page-container {
  height: 100%;
  display: flex;
  position: relative;
}

.page {
  width: $content-width;
}
