$black: #222222;
$red: #f45452;
$primary: #2ac1bc;
$light-primary: #a0e1e0;
$dark-primary: #219a95;
$off-white: #f6f6f6;
$white: #fff;
$gray1: #888888;
$gray2: #bbbbbb;
$gray3: #d7d7d7;
$gray5: #e0e0e0;

$blue: #166ff3;
$light-blue: #f5f5f7;
$gray: #979797;

$content-padding: 16px;
$content-width: 320px;
$content-height: 448px;

$top-bar-height: 56px;
