@import '../../../style/variables.scss';

.form-title {
  margin-bottom: 16px;
  input {
    border: none;
  }
  input:focus {
    outline: none;
  }
  input::placeholder {
    font-size: 16px;
    color: $gray1;
  }
}

.form-category {
  font-size: 14px;
  color: $gray3;
}

.form-category-list {
  overflow-x: scroll;
  display: flex;
  gap: 4px;
  margin-top: 8px;

  &::-webkit-scrollbar {
    display: none;
  }

  .category-badge {
    min-width: fit-content;
    padding: 4px 16px;
    border: 1px solid $gray3;
    border-radius: 999px;
    color: $gray1;
  }
  .selected-category-badge {
    background-color: $primary;
    color: $white;
  }
}
