@import '../../style/variables.scss';

.popup {
  width: 288px;
  margin: auto;
  padding: $content-padding;
  background-color: $gray3;
  box-shadow: 0px 0px 4px rgba(204, 204, 204, 0.5), 0px 2px 4px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(4px);
  border-radius: 10px;
}

.location-input-popup {
  font-size: 14px;
  input {
    width: 100%;
    height: 36px;
    margin: 8px 0;
    padding: 8px;
    border: 1px solid $gray4;
    border-radius: 8px;
  }
  input:focus {
    outline: none;
    border: 1px solid $mint;
  }
}

.input-submit-btns {
  display: flex;
  justify-content: space-between;
  margin: 8px 0;
  .cancle-btn {
    font-weight: 500;
  }
  .confirm-btn {
    color: $gray1;
  }
  .available {
    color: $mint;
  }
}
