@import '../../style/variables.scss';

.chatting {
  height: 320px;
}

.chatting-box {
  display: flex;
  flex-direction: column;
  height: 267px;
  font-size: 14px;
  padding: $content-padding;
  overflow-x: scroll;
  & > div {
    margin-bottom: 16px;
    width: fit-content;
    padding: 8px;
  }

  .receive-msg {
    border: 1px solid $primary;
    background-color: $white;
    border-radius: 0px 8px 8px 8px;
  }

  .sent-msg {
    align-self: flex-end;
    color: $white;
    background-color: $primary;
    border-radius: 8px 0px 8px 8px;
  }
}

.chatting-input {
  position: sticky;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: $off-white;
  border-top: 1px solid $gray3;
  height: 52px;
  padding: 8px 18px 8px 8px;

  input {
    width: 256px;
    height: 36px;
    background: $white;
    border: 1px solid $gray3;
    box-sizing: border-box;
    border-radius: 8px;
    padding: 8px;
  }
  input:focus {
    outline: none;
  }

  .chatting-send-btn {
    display: flex;
    align-items: center;
  }

  button {
    padding: 0;
    border: none;
    background-color: rgba(0, 0, 0, 0);
    cursor: pointer;
  }
}
