@import '../../style/variables.scss';

.location-page {
  height: 448px;
}

.location-cautions {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 24px auto;
  font-size: 14px;
  color: $gray1;
}

.location-input-modal {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}
