@import '../../style/variables.scss';

.product-detail-top-bar {
  position: absolute;
  top: 0px;
  width: 320px;
  height: $top-bar-height;
  z-index: 1;
  margin-bottom: -$top-bar-height;
  fill: $white;

  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: $content-padding;
  background: none;

  img {
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(288deg) brightness(102%) contrast(102%);
  }

  .dropdown-wrapper {
    position: relative;

    .dropdown {
      width: 165px;
      border-radius: 10px;
      overflow: hidden;
      color: $black;
      position: absolute;
      right: 0px;
      top: 8px;
      box-shadow: 0px 0px 4px rgba(204, 204, 204, 0.5), 0px 2px 4px rgba(0, 0, 0, 0.25);
      backdrop-filter: blur(4px);

      & > div {
        height: 48px;
        background-color: $off-white;
        padding: $content-padding;
      }

      & > div:not(:last-child) {
        border-bottom: 1px solid $gray3;
      }

      & > div:hover {
        background-color: $gray3;
      }

      & > .warning {
        color: $red;
      }
    }
  }
}
