@import '../../../style/variables.scss';

.common-top-bar {
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  width: 320px;
  height: $top-bar-height;

  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: $content-padding;
  background-color: $off-white;
}
